nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: #FF0000;
  position: relative;
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  from {
    top: 0;
  }
  to {
    top: .5em;
  }
}

.new-tweet-toggle {
  cursor: pointer ;
}

#top-button {
  padding: 2em;
  display: flex;
  position: fixed;
  bottom: 3%;
  right: 1%;
  border-radius: 50%;
  background-color: #FF0000;
  color: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  justify-content: center;
  align-items: center;
}