form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

form button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  display: flex;
  background:transparent;
  resize: none;
  outline:none;
  border:none;
  width:100%;
  color: #545149;
  border-bottom: 4px solid #545149;
  padding: .5em 0;
  font-size: .75em;
  font-weight: 600;
}

.counter {
  font-weight: 600;
}

.reader-only{
position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}